<a href="https://colab.research.google.com/github/tomyg151/Data_Intro_Course_Python/blob/main/series/slicing/loc/iloc/index/sort_values().ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

 pandas ייבוא של ספריית

In [5]:
import pandas as pd

יצירת שתי רשימות לדוגמה (אחת של מס' ואחץ של מחרוזות)

In [14]:
series_of_numbers = pd.Series([1,4,20,45,32,8])
series_of_strings = pd.Series(['a','this','apple','Love','Water','is'])

הדפסת רשימת המחרוזות

In [15]:
print(series_of_strings)

0        a
1     this
2    apple
3     Love
4    Water
5       is
dtype: object

מיון רשימת המחרוזות

In [16]:
sorted_series = series_of_strings.sort_values()

In [17]:
print(sorted_series)

3     Love
4    Water
0        a
2    apple
5       is
1     this
dtype: object

loc הדפסת ההמחרוזות עם מיקום 0 דרך פונקציית

In [18]:
print(series_of_strings.loc[0])
print(sorted_series.loc[0])

a
a

In [19]:
print(series_of_strings)
print(sorted_series)

0        a
1     this
2    apple
3     Love
4    Water
5       is
dtype: object
3     Love
4    Water
0        a
2    apple
5       is
1     this
dtype: object

iloc הדפסת הרשימות בעזרת

In [20]:
print(series_of_strings.iloc[0])
print(sorted_series.iloc[0])

a
Love

In [28]:
print(series_of_strings)
print()
print(sorted_series)

0        a
1     this
2    apple
3     Love
4    Water
5       is
dtype: object

3     Love
4    Water
0        a
2    apple
5       is
1     this
dtype: object

slicing

In [80]:
print(series_of_strings.iloc[2:4])
print()
print(sorted_series.iloc[2:4])
print()
print(series_of_strings[2:4])

third     apple
fourth     Love
dtype: object

0        a
2    apple
dtype: object

third     apple
fourth     Love
dtype: object

שינוי ערך האינדקסים על פי הצורך

In [31]:
series_of_strings.index = ['first','secend','third','fourth','fifth','sixth']

In [35]:
series_of_strings.loc['secend']

'this'

In [38]:
print(series_of_strings)
print()
print(series_of_strings.iloc[2::2])

first         a
secend     this
third     apple
fourth     Love
fifth     Water
sixth        is
dtype: object

third    apple
fifth    Water
dtype: object

In [53]:
 new_series_of_strings = pd.Series(['this','is','a','Pandas','Series'])

In [44]:
new_sorted = new_series_of_strings.sort_values()

In [45]:
print(new_sorted)

3    Pandas
4    Series
2         a
1        is
0      this
dtype: object

iloc יוצרים רשימה לפי מיקומים דרך פונקציית

In [60]:
print(new_series_of_strings.iloc[[3,1,2,3,4]])

3    Pandas
1        is
2         a
3    Pandas
4    Series
dtype: object

ביצוע שליפה רגיל של הרשימת מחרוזות, ואז ביצוע שליפה מיוחד

In [86]:
print(new_series_of_strings)
print()
new_series_of_strings.index = ['first','secend','secend','secend','fifth']
print(new_series_of_strings['secend'])

first       this
secend        is
secend         a
secend    Pandas
fifth     Series
dtype: object

secend        is
secend         a
secend    Pandas
dtype: object