<a href="https://colab.research.google.com/github/tomyg151/Data_Intro_Course_Python/blob/main/Upload_File_artist.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

 pandas ייבוא של ספריית

In [3]:
import pandas as pd



*   'artist' פנדס טוענת משתנה מסוג דאטה פריים שנקרא
*   GitHub העלינו לשרת את הקובץ ויצרנו עבורו קישור. אפשר לעשות זאת באמצעות 

אם אנחנו לא בטוחים מהו הסימן המפריד בקובץ ה-CSV שאנחנו טוענים, אפשר להוסיף את הארגומנטים  'sep=None' ו-'engine=python', כך:

In [4]:
url = 'https://s3.eu-west-1.amazonaws.com/data.cyber.org.il/virtual_courses/introdata/colab/artists.csv'
artist = pd.read_csv(url, sep=None, engine='python')

'artist' הרצת חמש השורות הראשונות של טבלת

In [5]:
artist.head(5)

,id,followers,genres,name,popularity
0,0DheY5irMjBUeLybbCUEZ2,0.0,[],Armid & Amir Zare Pashai feat. Sara Rouzbehani,0
1,0DlhY15l3wsrnlfGio2bjU,5.0,[],ปูนา ภาวิณี,0
2,0DmRESX2JknGPQyO15yxg7,0.0,[],Sadaa,0
3,0DmhnbHjm1qw6NCYPeZNgJ,0.0,[],Tra'gruda,0
4,0Dn11fWM7vHQ3rinvWEl4E,2.0,[],Ioannis Panoutsopoulos,0

בדיקת סוג הנתונים בכל עמודה

In [6]:
artist.dtypes

id             object
followers     float64
genres         object
name           object
popularity      int64
dtype: object