<a href="https://colab.research.google.com/github/tomyg151/Data_Intro_Course_Python/blob/main/series/loc/iloc/index/slicing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

 pandas ייבוא של ספריית

In [5]:
import pandas as pd



*   'artist' פנדס טוענת משתנה מסוג דאטה פריים שנקרא
*   GitHub העלינו לשרת את הקובץ ויצרנו עבורו קישור. אפשר לעשות זאת באמצעות 

אם אנחנו לא בטוחים מהו הסימן המפריד בקובץ ה-CSV שאנחנו טוענים, אפשר להוסיף את הארגומנטים  'sep=None' ו-'engine=python', כך:

In [ ]:
url = 'https://s3.eu-west-1.amazonaws.com/data.cyber.org.il/virtual_courses/introdata/colab/artists.csv'
artist = pd.read_csv(url, sep=None, engine='python')

'artist' הרצת חמש השורות הראשונות של טבלת

In [ ]:
artist.head(5)

,id,followers,genres,name,popularity
0,0DheY5irMjBUeLybbCUEZ2,0.0,[],Armid & Amir Zare Pashai feat. Sara Rouzbehani,0
1,0DlhY15l3wsrnlfGio2bjU,5.0,[],ปูนา ภาวิณี,0
2,0DmRESX2JknGPQyO15yxg7,0.0,[],Sadaa,0
3,0DmhnbHjm1qw6NCYPeZNgJ,0.0,[],Tra'gruda,0
4,0Dn11fWM7vHQ3rinvWEl4E,2.0,[],Ioannis Panoutsopoulos,0

בדיקת סוג הנתונים בכל עמודה

In [ ]:
artist.dtypes

id             object
followers     float64
genres         object
name           object
popularity      int64
dtype: object

In [ ]:
artist.tail(5)

,id,followers,genres,name,popularity
1104344,6rJIG42vcWAf1UBdRFlQxB,3345.0,[],Cody Longo,8
1104345,1ljurfXKPlGncNdW3J8zJ8,2123.0,['deep acoustic pop'],Right the Stars,18
1104346,2vnT9YhKIvjVo9LnVjWmr2,26.0,[],Jesse Giddings,0
1104347,3ID0E5XCvnJIYZEq043ZoB,406.0,[],The Boy Band Project,0
1104348,5m0Y4WSYyai2BU752lCASy,146.0,[],10 Reasons,1

In [ ]:
"this a title".upper().center(20,'*')

'****THIS A TITLE****'

יצירת שתי רשימות לדוגמה (אחת של מס' ואחץ של מחרוזות)

In [14]:
series_of_numbers = pd.Series([1,4,20,45,32,8])
series_of_strings = pd.Series(['a','this','apple','Love','Water','is'])

הדפסת רשימת המחרוזות

In [15]:
print(series_of_strings)

0        a
1     this
2    apple
3     Love
4    Water
5       is
dtype: object

מיון רשימת המחרוזות

In [16]:
sorted_series = series_of_strings.sort_values()

In [17]:
print(sorted_series)

3     Love
4    Water
0        a
2    apple
5       is
1     this
dtype: object

loc הדפסת ההמחרוזות עם מיקום 0 דרך פונקציית

In [18]:
print(series_of_strings.loc[0])
print(sorted_series.loc[0])

a
a

In [19]:
print(series_of_strings)
print(sorted_series)

0        a
1     this
2    apple
3     Love
4    Water
5       is
dtype: object
3     Love
4    Water
0        a
2    apple
5       is
1     this
dtype: object

iloc הדפסת הרשימות בעזרת

In [20]:
print(series_of_strings.iloc[0])
print(sorted_series.iloc[0])

a
Love

In [28]:
print(series_of_strings)
print()
print(sorted_series)

0        a
1     this
2    apple
3     Love
4    Water
5       is
dtype: object

3     Love
4    Water
0        a
2    apple
5       is
1     this
dtype: object

slicing

In [80]:
print(series_of_strings.iloc[2:4])
print()
print(sorted_series.iloc[2:4])
print()
print(series_of_strings[2:4])

third     apple
fourth     Love
dtype: object

0        a
2    apple
dtype: object

third     apple
fourth     Love
dtype: object

שינוי ערך האינדקסים על פי הצורך

In [31]:
series_of_strings.index = ['first','secend','third','fourth','fifth','sixth']

In [35]:
series_of_strings.loc['secend']

'this'

In [38]:
print(series_of_strings)
print()
print(series_of_strings.iloc[2::2])

first         a
secend     this
third     apple
fourth     Love
fifth     Water
sixth        is
dtype: object

third    apple
fifth    Water
dtype: object

In [53]:
 new_series_of_strings = pd.Series(['this','is','a','Pandas','Series'])

In [44]:
new_sorted = new_series_of_strings.sort_values()

In [45]:
print(new_sorted)

3    Pandas
4    Series
2         a
1        is
0      this
dtype: object

iloc יוצרים רשימה לפי מיקומים דרך פונקציית

In [60]:
print(new_series_of_strings.iloc[[3,1,2,3,4]])

3    Pandas
1        is
2         a
3    Pandas
4    Series
dtype: object

ביצוע שליפה רגיל של הרשימת מחרוזות, ואז ביצוע שליפה מיוחד

In [86]:
print(new_series_of_strings)
print()
new_series_of_strings.index = ['first','secend','secend','secend','fifth']
print(new_series_of_strings['secend'])

first       this
secend        is
secend         a
secend    Pandas
fifth     Series
dtype: object

secend        is
secend         a
secend    Pandas
dtype: object